<main>
    <form class="product-form" action="/" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" autocomplete="off">
        </div>

        <button class="btn" type="submit">Add User</button>
    </form>
</main>