<%- include('../include/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('../include/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error">
                <% for (let error of errorMessage) { %>
                    <div><%= error %></div>
                <% } %>
            </div>
        <% } %>

        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" autocomplete="off">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

            <button class="btn" type="submit">Login</button>

            <div>
                <a href="/forgot-password">Forgot password?</a>
            </div>
        </form>
    </main>
    <%- include('../include/end.ejs') %>