<div class="card__actions">
    <form action="/cart" method="POST">
        <input type="hidden" name="product_id" value="<%= product.id %>">
        <button class="btn">Add to Cart</button>
    </form>
</div>